@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

body{
  background-color: rgb(21, 24, 33);
  font-family: Ga Maamli, Arial;
}


section {
  position: relative;
  text-align: center;
}

div {
 display: flex;
 align-content: center;
 justify-content: center;
 font-size: 200px;

}

.three,
.two,
.one {
  color: transparent;
  font-size: 16vw;
  width: min-content; 
  margin: auto;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
  background: linear-gradient(rgb(255, 0, 0),rgb(187, 187, 45));
  -webkit-background-clip: text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -210%);
}

 .go {
  color: transparent;
  font-size: 16vw;
  width: min-content; 
  margin: auto;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
  background: linear-gradient(rgb(255, 0, 0),rgb(187, 187, 45));
  -webkit-background-clip: text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -160%);
  
 }

.three {
  animation-name: expand;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}

@keyframes expand {
 0% {
  font-size: 125px;
 }
 40% {
  font-size: 150px;

 }

 95% {
  font-size: 200px;

 }

 100% {
  font-size: 0px;
 }
}

.two {
  visibility: hidden;
  animation-name: expand-two;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.75s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes expand-two {
    0% {
      visibility: hidden;
      font-size: 125px;
      opacity: 0.2;
    }
    40% {
      visibility:hidden;
      font-size: 150px;
      opacity: 0.5;
    }
    
    95% {
      visibility: visible;
      font-size: 200px;
      opacity: 1;
    
    }
    
    100% {
      visibility: visible;
      font-size: 0px;
      opacity: 0;
    }
    }

  


  .one {
    visibility: hidden;
    animation-name: expand-one;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.25s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
  }

  @keyframes expand-one  {
    0% {
      visibility: hidden;
      font-size: 125px;
      opacity: 0.2;
    }
    40% {
      visibility:hidden;
      font-size: 150px;
      opacity: 0.5;
    }
    
    95% {
      visibility: visible;
      font-size: 200px;
      opacity: 1;
    
    }
    
    100% {
      visibility: visible;
      font-size: 0px;
      opacity: 0;
    }
    }


  .go {
    visibility: hidden;
    animation-name: expand-go;
    animation-duration: 1s;
    animation-delay: 1.75s;
    animation-timing-function: ease-in-out;
    animation-timing-function: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
  }

  
  @keyframes expand-go  {
    0% {
      visibility: hidden;
      font-size: 125px;
      opacity: 0.2;
    }
    40% {
      visibility:hidden;
      font-size: 150px;
      letter-spacing: 70px;
      opacity: 0.5;
    }
    
    95% {
      visibility: visible;
      font-size: 300px;
      opacity: 1.5;
    
    }
    
    100% {
      visibility: visible;
      font-size: 0px;
      opacity: 0;
    }
  }

  
  
